server:
  replicaCount: 1
  resources:
    requests:
      cpu: 100m
      memory: 768Mi
    limits:
      cpu: 1000m
      memory: 1536Mi
  ingress:
    enabled: true
    className: nginx
    acme: false
    hosts:
      - host: crm.omniaagent.com
        paths:
          - path: /
            pathType: Prefix
    tls:
      - secretName: twenty-tls
        hosts:
          - crm.omniaagent.com

worker:
  resources:
    requests:
      cpu: 100m
      memory: 512Mi
    limits:
      cpu: 500m
      memory: 1024Mi

db:
  internal:
    image:
      repository: twentycrm/twenty-postgres-spilo
      tag: latest
    resources:
      requests:
        cpu: 100m
        memory: 256Mi
      limits:
        cpu: 500m
        memory: 512Mi
    persistence:
      enabled: true
      size: 10Gi
      accessModes:
        - ReadWriteOnce

redisInternal:
  resources:
    requests:
      cpu: 50m
      memory: 128Mi
    limits:
      cpu: 200m
      memory: 256Mi
